@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f8fafc;
  --foreground: #3a4858;
  --primary: #004ac6;
  --primary-base: #60a5fa;
  --primary-light: #dbeafe;

  --text-main: #191c1e;
  --text-secondary: #6b6b6b;
  --icon-muted: #434655;
  --icon-alt: #516070;
  --text-placeholder: #9ca3af;

  --border-input: #c3c6d7;
  --btn-primary: #2563eb;
  --btn-hover: #1d4ed8;

  --success-bg: #b3f2b6;
  --success-text: #377041;
  --danger: #ba1a1a;

  --password-strong: #316a3b;
  --password-medium: #f57c00;
  --status-normal: #1db954;

  --chart-gradient: #2563eb;
  --chart-line: #818cf8;
  --chart-dot: #394cff;
  --chart-grid: #cbd5e1;
  --chart-cursor: #94a3b8;
}

@theme inline {
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-base: var(--primary-base);
  --color-primary-light: var(--primary-light);

  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-icon-muted: var(--icon-muted);
  --color-icon-alt: var(--icon-alt);
  --color-text-placeholder: var(--text-placeholder);

  --color-border-input: var(--border-input);
  --color-btn-primary: var(--btn-primary);
  --color-btn-hover: var(--btn-hover);

  --color-success-bg: var(--success-bg);
  --color-success-text: var(--success-text);
  --color-danger: var(--danger);

  --color-password-strong: var(--password-strong);
  --color-password-medium: var(--password-medium);
  --color-status-normal: var(--status-normal);

  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-base: 0.875rem;
  --text-md: 0.9375rem;
  --text-lg: 1rem;
  --text-xl: 1.0625rem;
  --text-2xl: 1.125rem;
  --text-3xl: 1.25rem;
  --text-4xl: 1.375rem;
  --text-5xl: 1.5rem;
  --text-6xl: 1.625rem;
  --text-7xl: 1.75rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
